<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE Preferences [
  <!ELEMENT Preferences ANY>
  <!ATTLIST Preferences rootUser CDATA #REQUIRED>
  <!ATTLIST Preferences treeFontName CDATA #REQUIRED>
  <!ATTLIST Preferences treeFontSize CDATA #REQUIRED>
]>
<Preferences rootUser = "brake,niklas,1996"
  treeFontName = "Arial"
  treeFontSize = "12">
</Preferences>