<?xml version="1.0" encoding="utf-8" ?>
<Preferences>
  <BaseOptions rootUser = "brake,andreas,1993" treeFontName = "Arial" treeFontSize = "12"></BaseOptions>
  <CountryOptions>
    <country name="CANADA" color="#C40C0C"></country>
    <country name="NEWFOUNDLAND" color="#339966"></country>
    <country name="ACADIA" color="#33AFFF"></country>
    <country name="QUEBEC" color="#99ffcc"></country>
    <country name="FRANCE" color="#0072BB"></country>
    <country name="BELGIUM" color="#B276B2"></country>
    <country name="SWITZERLAND" color="#ffff99"></country>
    <country name="ENGLAND" color="#F15854"></country>
    <country name="IRELAND" color="#60BD68"></country>
    <country name="MIKMAQ CANADA" color="#7A1F1F"></country>
    <country name="SCOTLAND" color="#2548b4"></country>
    <country name="GERMANY" color="#DECF3F"></country>
    <country name="POLAND" color="#4D4D4D"></country>
    <country name="PRUSSIA" color="#D3D3D3"></country>
    <country name="RUSSIAN EMPIRE" color="#2A2A2A"></country>
  </CountryOptions>
</Preferences>
